
@font-face {
    font-family: OpenSans-CondLight;
    src: local("OpenSans-CondLight"),
         url(/fonts/OpenSans-CondLight.ttf);
}

html, body {
    background: #f2f2f2;
}

.nav-solid {
    background: #ffffff;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
}

.box-shadow-none {
    -webkit-box-shadow: 0 1px 2px 0 rgb(216, 216, 216);
    -moz-box-shadow: 0 1px 2px 0 rgb(216, 216, 216);
    box-shadow: 0 1px 2px 0 rgb(216, 216, 216);
}

a.link-place {
	padding: 8px;
    border-top: 1px solid #f2f2f2;
    color: #32d296;
    display: block;
    background: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
a.link-place:hover {
	color: #39f;
}

a.serie-link {
    background: #ffffff;
    padding: 5px 5px 5px 15px;
    display: block;
    border-bottom: 1px solid #f2f2f2;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
}
a.serie-link:hover {
    color: #32d296;
    background-color: #f8f8f8;
}

.photo {
    height: 136px;
    width: 244px;
    cursor: pointer;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.anime-list-link {
    color: #32d296!important;
    text-decoration: none!important;
    background: #f7f7f7;
    padding: 2px 8px 2px 8px;
    border-radius: 2px;
    margin-bottom: 7px;
    margin-right: 5px;
    display: inline-block;
}
.anime-list-link:hover {
    color: #4a4a4a!important;
}

a.link-top {
    color: #47a3ff !important;
}

a.link-top:hover {
    color: #226fbd !important;
}

a.link-ongoing {
    color: #32d296 !important;
}

a.link-ongoing:hover {
    color: #24a273 !important;
}

h1.title {
    display: inline-block;
    line-height: 1.3;
    margin: 0;
    color: #32d296;
    font-size: .875rem;
}
h1.title-anime {
    display: inline-block;
    line-height: 1.3;
    margin: 0;
    color: #1e87f0!important;
    font-size: .875rem;
}

.ongoing-img {
    background: rgba(50, 210, 150, 0.82);
    color: #ffffff;
    padding: 10px;
    font-size: 11px;
    border-radius: 5px 0px 15px 0px;
}

.full-img {
    background: rgba(51, 153, 255, 0.81)!important;
}


.hover-block {
    border: 2px solid #ffffff;
    transition: .3s;
}

.hover-block:hover {
    border: 2px solid #32d296;
}

.img-anime-avatar {

    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
}

.ongoing-img-mark {
    background: rgba(50, 210, 150, 0.81);
    color: #ffffff;
    padding: 10px;
    font-size: 11px;
    -webkit-border-radius: 3px 0px 3px 0px;
    -moz-border-radius: 3px 0px 3px 0px;
    border-radius: 3px 0px 3px 0px;
}

.anime-list-link-dub {
    color: #3399ff !important;
}

.anime-date {
    color: #8a8a8a;
    background: #f7f7f7;
    padding: 2px 8px 2px 8px;
    border-radius: 2px;
    margin-bottom: 7px;
    margin-right: 5px;
    display: inline-block;
}

