.uk-navbar-container:not(.uk-navbar-transparent) {
	background: #39f;
    z-index: 3;
    position: relative;
}

.uk-navbar-nav>li>a {
    color: #ffffff;
}

.uk-navbar-nav>li.uk-active>a {
    color: #ffffff;
}

.uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a.uk-open, .uk-navbar-nav>li>a:focus {
    color: #ffffff;
}
.uk-tab>*>a {
    padding: 10px 10px;
    border-bottom: 2px solid transparent;
}

.uk-logo {
    color: #fff;
    font-size: 1.2rem;
}

.uk-card-default {
    border-radius: 2px;
}

svg:not(:root) {
    margin-bottom: 3px;
}

.uk-table td {
    padding: 3px 10px;
}

.uk-table :not(:last-child)>td {
    border-bottom: none;
}

.uk-table-striped tbody tr:nth-of-type(odd) {
    background: transparent;
}
.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
        content: "/" !important;
}

.uk-navbar-toggle {
    color: #fff;
}

.uk-navbar-toggle.uk-open, .uk-navbar-toggle:focus, .uk-navbar-toggle:hover {
    color: #fff;
}

.uk-search-input {
    color: #fff;
}

.uk-search-navbar .uk-search-input {
    font-size: 1.0rem;
    padding-left: 30px;
}

.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
    content: "/" !important;
}

h1 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    margin-top: 0px !important;
}
h2 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    margin-top: 0px !important;
}
h3 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    margin-top: 0px !important;
}
.uk-card-body {
    padding: 15px 15px;
}

.uk-card p{
    margin-top: 15px;
}

.uk-subnav-pill>*>:first-child {
    color: #383838 !important;
}

.uk-card-primary.uk-card-body, .uk-card-primary>:not([class*=uk-card-media]), .uk-card-secondary.uk-card-body, .uk-card-secondary>:not([class*=uk-card-media]), .uk-light, .uk-offcanvas-bar, .uk-overlay-primary, .uk-section-primary:not(.uk-preserve-color), .uk-section-secondary:not(.uk-preserve-color) {
    color: rgb(64, 213, 157);
}

.uk-overlay-primary {
    background: rgba(34, 34, 34, 0.54);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}